<div class="container">
  <!--見出し-->
  <div class="row">
    <div class="col-lg-4 bg-light m-5">
      <h5>マイページ</h5>
    </div>
  <div class="col-lg-8"></div>
  </div>
  <!--登録情報-->
  <div class="row">
    <div class="col-lg-2">
      <h5 class="font-weight-bold">登録情報</h5>
    </div>
    <div class="col-lg-2">
      <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %>
    </div>
    <div class="col-lg-8"></div>
  </div>
  <table class ="table table-bordered m-3">
    <tr>
      <td>氏名</td>
      <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= current_customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= current_customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_customer.email %></td>
    </tr>
  </table>
  <!--配送先-->
  <div class="row m-3">
    <div class="col-lg-2">
      <h5 class="font-weight-bold">配送先</h5>
    </div>
    <div class="col-lg-2">
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
    </div>
    <div class="col-lg-8"></div>
  </div>
  <!--注文履歴-->
  <div class="row m-3">
    <div class="col-lg-2">
      <h5 class="font-weight-bold">注文履歴</h5>
    </div>
    <div class="col-lg-2">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
    </div>
    <div class="col-lg-8"></div>
  </div>
</div>