<h4>商品編集</h4>

<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
  <p>商品画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  <p>商品名</p>
  <%= f.text_field :name %>
  <p>商品説明</p>
  <%= f.text_area :introduction %>
  <p>ジャンル</p>
  
  <p>商品名</p>
  <%= f.text_field :price %>
  <p>販売ステータス</p>
  
  <%= f.submit '変更を保存', class: 'btn btn-success' %>
<% end %>