<h4>商品一覧</h4>
    <%= link_to new_admin_item_path do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
<table class="table">
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td>
        <%= link_to admin_item_path(item.id) do %>
        <%= item.name %>
        <% end %>
      </td>
      <td><%= item.price %></td>
      <td><%= item.name %></td>
      <td><%= item.is_active %></td>
    </tr>
    <% end %>
  </tbody>
</table>