<h4>商品新規登録</h4>

<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <p>商品画像</p>
  <p>商品名</p>
    <%= f.text_field :name %>
  <p>商品説明</p>
    <%= f.text_area :introduction %>
  <p>ジャンル</p>
  <p>税抜価格</p>
    <%= f.text_field :price %>  
  <p>販売ステータス</p>  
    
    <%= f.submit '新規登録', class: 'btn btn-success' %>
<% end %>