<h4>商品新規登録</h4>

<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <p>商品画像</p>
    <%= f.file_field :image, accept: "image/*" %>
  <p>商品名</p>
    <%= f.text_field :name %>
  <p>商品説明</p>
    <%= f.text_area :introduction %>
  <p>ジャンル</p>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
  <p>税抜価格</p>
    <%= f.text_field :price %>円
  <p>販売ステータス</p>
    <%= f.radio_button :is_active, :true %> 販売中
    <%= f.radio_button :is_active, :false %> 販売停止中<br>
  <%= f.submit '新規登録', class: 'btn btn-success' %>
<% end %>