<div class="container">
  <!--見出し-->
  <div class="row">
    <div class="col-lg-3 bg-light m-5">
      <h5>新規商品登録</h5>
    </div>
  <div class="col-lg-9"></div>
  </div>
  <!--商品登録欄-->
  <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <div class="form-group row">
    <div class="col-lg-2"></div>
    <label class="col-lg-2">商品画像</label>
    <div class="col-lg-8">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-2"></div>
    <label class="col-lg-2">商品名</label>
    <div class="col-lg-8">
      <%= f.text_field :name, placeholder: "商品名" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-2"></div>
    <label class="col-lg-2">商品説明</label>
    <div class="col-lg-8">
      <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-2"></div>
    <label class="col-lg-2">ジャンル</label>
    <div class="col-lg-8">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-2"></div>
    <label class="col-lg-2">税抜価格</label>
    <div class="col-lg-8">
      <%= f.text_field :price, placeholder: "1000" %>円
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-2"></div>
    <label class="col-lg-2">販売ステータス</label>
    <div class="col-lg-8">
      <%= f.radio_button :is_active, :true %><span> 販売中　　</span>
      <%= f.radio_button :is_active, :false %><span>販売停止中</span>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= f.submit '新規登録', class: 'btn btn-success' %>
    </div>
  </div>
  <% end %>
</div>