<div class="container">
  <div class="row">
    <!--ジャンル検索のサイドバー-->
    <div class="col-lg-3 p-5">
      <table class="table">
        <thead>
          <tr>
            <th>
              ジャンル検索
            </th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to admin_genre_path(genre.id) do %>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!--テキスト-->
    <div class="col-lg-9 p-5">
      <div class="row p-5 m-5">
        <p>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。</p>
      </div>
      <h4 class="font-weight-bold p-2">新着商品</h4>
      <div class="row">
        <% @items.first(4).each do |item| %>
        <div class="col-lg-3 font-weight-bold">
          <%= link_to item_path(item) do %>
            <%= image_tag item.get_image, size: '150x100' %><br>
            <%= item.name %><br>
          <% end %>
          ￥<%= item.with_tax_price.to_s(:delimited) %>
        </div>
        <% end %>
      </div>
      <div class="text-right p-3"><%= link_to "全ての商品を見る>", items_path %></div>
    </div>
  </div>
</div>
