<div class="container">
  <!--見出し-->
  <div class="row">
    <div class="col-lg-4 bg-light m-5">
      <h5><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h5>
    </div>
  <div class="col-lg-8"></div>
  </div>
  <!--編集欄-->
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">会員ID</label>
    <div class="col-lg-9">
      <%= @customer.id %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">氏名</label>
    <div class="col-lg-9">
      <%= f.text_field :last_name %><span>　　</span><%= f.text_field :first_name %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">フリガナ</label>
    <div class="col-lg-9">
      <%= f.text_field :last_name_kana %><span>　　</span><%= f.text_field :first_name_kana %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">郵便番号</label>
    <div class="col-lg-9">
      <%= f.text_field :postal_code %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">住所</label>
    <div class="col-lg-9">
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">電話番号</label>
    <div class="col-lg-9">
      <%= f.text_field :telephone_number %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">メールアドレス</label>
    <div class="col-lg-9">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-1"></div>
    <label class="col-lg-2">会員ステータス</label>
    <div class="col-lg-9">
      <%= f.radio_button :is_deleted, :false %><span> 有効　　</span>
      <%= f.radio_button :is_deleted, :true %><span>退会</span>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= f.submit '変更を保存', class: 'btn btn-success' %>
    </div>
  </div>
  <% end %>
</div>
