<div class="container">
  <!--見出し-->
  <div class="row">
    <div class="col-lg-3 bg-light m-5">
      <h5>注文履歴一覧</h5>
    </div>
  <div class="col-lg-9"></div>
  </div>
  <!--一覧-->
<table class="table">
  <thead class="table-active">
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to admin_order_path(order.id) do %>
          <%= order.created_at.strftime('%Y/%m/%d %T') %></td>
          <% end %>
      <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
      <td>
        <%= order.order_details.sum(:amount) %>
      </td>
      <td><%= order.status_i18n %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>