<h4>注文履歴一覧</h4>

<table class="table">
  <thead>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
  </thead>
  <tbody>
    <% @oders.each do |oder| %>
    <tr>
      <td><%= link_to oder_path(oder.id) do %>
          <%= oder.created_at %></td>
          <% end %>
      <td><%= oder.status %></td>
      <td><%= oder.status %></td>
      <td><%= oder.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>