<div class="container">
  <!--見出し-->
  <div class="row">
    <div class="col-lg-4 bg-light m-5">
      <h5>注文履歴一覧</h5>
    </div>
    <div class="col-lg-8"></div>
  </div>
  <!--一覧-->
  <table class="table table-bordered mx-1">
    <tr class ="table-active">
      <td>注文日</td>
      <td>配送先</td>
      <td>注文商品</td>
      <td>支払い金額</td>
      <td>ステータス</td>
      <td>注文詳細</td>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= order.postal_code %><br>
          <%= order.address %><br>
          <%= order.name %></td>
      <td><% @order_details = order.order_details %>
          <% @order_details.each do |order_detail| %>
          <%= order_detail.item.name %>
          <% end %>
      </td>
      <td><%= order.total_payment.to_s(:delimited) %>円</td>
      <td>
        
          <%= order.status_i18n %>
        
      </td>
      <td><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %>
      </td>
    </tr>
    <% end %>
  </table>
  </div>