<h1>商品詳細ページ</h1>
<div class="item_image"></div>

<div class="item_content">
  <%= @item.name %><br>
  <%= @item.introduction %><br>
  <%= @item.price %>（税込）<br>
  <p>個数</p>
  <%= form_with model: @cart_item, url: cart_items_path, method: :post, local:true do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.select :amount, *[1..10], {include_blank: '個数'} %>
  <%= f.submit 'カートに入れる' , class: 'btn btn-success btn-sm' %>
  <% end %>
</div>
