<div class="container">
  <div class="row">
    <!--ジャンル検索のサイドバー-->
    <div class="col-lg-3 p-5">
      <table class="table">
        <thead>
          <tr>
            <th>
              ジャンル検索
            </th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to admin_genre_path(genre.id) do %>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!--ジャンル一覧-->
    <div class="col-lg-9 p-5">
      <div class="item_image"></div>
      <div class="item_content">
        <%= @item.name %><br>
        <%= @item.introduction %><br>
        <%= @item.price %>（税込）
        <%= form_with model: @cart_item, url: cart_items_path, method: :post, local:true do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.select :amount, *[1..10], {include_blank: '個数'} %>
        <%= f.submit 'カートに入れる' , class: 'btn btn-success btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

