<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/6291c4cdae.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm border-bottom border-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 p-4">
            <a class="navbar-brand" href="/">LOGO</a>
          </div>
          <div class="col-lg-3 p-4">
            <% if customer_signed_in? %>
              <p class="text-center">ようこそ、<%= current_customer.last_name %>さん！</p>
            <% end %>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <nav class="navbar navbar-expand-lg bg-light p-3">
                <ul class="navbar-nav ml-auto">
                  <!--会員ログイン後-->
                  <% if customer_signed_in? %>
                    <li class="p-2"><%= link_to "マイページ", customers_my_page_path, class: "btn btn-outline-secondary" %></li>
                    <li class="p-2"><%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary" %></li>
                    <li class="p-2"><%= link_to "カート", cart_items_path, class: "btn btn-outline-secondary" %></li>
                    <li class="p-2"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" %></li>
                  <!--管理者ログイン後-->
                  <% elsif admin_signed_in? %>
                    <li class="p-1"><%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-secondary" %></li>
                    <li class="p-1"><%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary" %></li>
                    <li class="p-1"><%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-secondary" %></li>
                    <li class="p-1"><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary" %></li>
                    <li class="p-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %></li>
                  <!--ログイン前-->
                  <% else %>
                    <li class="p-1"><%= link_to "About", about_path, class: "btn btn-outline-secondary mx-3" %></li>
                    <li class="p-1"><%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary mx-3" %></li>
                    <li class="p-1"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary mx-3" %></li>
                    <li class="p-1"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary mx-3" %></li>
                  <% end %>
                </ul>
              </nav>
            </div>
            <!--キーワード検索機能-->
            <div class="row pb-2">
              <form class="form-inline ml-auto">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="border-top border-dark fixed-bottom">
      <div class="container mt-5">
        <div class="row">
          <span></span>
        </div>
      </div>
    </footer>
  </body>
</html>
